/* * {
    border: 1px solid black;
} */
.container1 {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1.5fr 50% 1fr;
  width: 100vw;
  min-height: 300px;
}
.logo {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
  justify-self: center;
}
.mainfoto {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.hd_wrapper {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  position: relative;
}
.hd {
  position: absolute;
  top: 100px;
  left: 140px;
  font-family: "Montserrat", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  color: #415167;
}
.hd1 {
  color: #f9fbff;
  font-family: "Montserrat", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  background: #c7a17a;
}
.side {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: #415167;
}
#busket {
  margin-left: 40px;
}
.nav {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: #415167;
}
ul {
  list-style-type: none;
}
.menu {
  margin: 10px auto;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: #edf0f5;
}
.menu1 {
  margin: 10px auto;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #edf0f5;
}
.container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
  margin: 0 50px auto 50px;
  justify-content: space-around;
  align-items: start;
}
.text {
  text-align: center;
}
.p1 {
  color: #415167;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.h2 {
  color: #415167;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 34px;
}
.h3 {
  color: #232c38;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.p2 {
  margin-top: 0;
    color: #151d28;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
